[user]
	name = atomoxetine
	email = 132525922+atomoxetine@users.noreply.github.com
	signingkey = ~/.ssh/id_rsa.pub
[gpg]
	format = ssh
[push]
    autoSetupRemote = true
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
