setxkbmap -layout br -variant nodeadkeys
setxkbmap -option compose:caps
xfconf-query -c xsettings -p /Gtk/KeyThemeName -s Emacs
xset r rate 200 50

flameshot &

xbindkeys &

export TERMINAL="alacritty"
