# setxkbmap -layout br -variant nodeadkeys
# setxkbmap -option compose:caps
# setxkbmap -option compose:
setxkbmap -option caps:swapescape
xfconf-query -c xsettings -p /Gtk/KeyThemeName -s Emacs
xset r rate 200 50

dunst &
flameshot &

export TERMINAL="kitty"

source $HOME/.localconfigs
